.dashboard__wrapper {
  display: flex;
  flex-direction: column;
  padding: 2em;
  overflow: auto;
}

.dashboard__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dashboard__card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard__go-card {
  height: 4em;
  width: 4em;
  background-image: linear-gradient(to right, #120f9c, #3531ff);
  border-radius: 100%;
  cursor: pointer;
  transition: all 400ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.dashboard__go-card:hover {
  transition: all 400ms;
  transform: translate(0.3em, 0);
}
