.importer__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.importer__padding {
  padding: 2em;
}

.importer__col {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5em;
}

.importer__missing-row {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}
