.item-page__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2em;
}

.item-page__input {
  width: 20em;
}

.item-page__row {
  display: flex;
  flex-direction: row;
}

.item-page__col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item-page__row--sb {
  justify-content: space-between;
  align-items: center;
}

.item-page__input--lrg {
  width: 42em;
}

.item-page__notes {
  color: grey;
  font-size: 12px;
}

.item-page__title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}
