.login-page__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-page__form {
  display: flex;
  flex-direction: column;
  width: 20em;
  align-items: center;
}

.login__reset-txt {
  font-size: small;
  margin-top: 1em;
  text-align: center;
}