.settings__padding {
  padding: 2em;
}

.settings__row {
  display: flex;
  flex-direction: row;
}

.settings__col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.settings__list {
  height: 15em;
  overflow: auto;
  background-color: #F6F6F6;
  border-radius: 0.2em;
}
