.status-card__wrapper {
  height: 1em;
  border-radius: 0.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  overflow: auto;
}

.status-card__working-bg {
  background-color: #b2ffb6;
}

.status-card__faulty-bg {
  background-color: #f19797;
}

.status-card__indicator {
  height: 0.4em;
  width: 0.4em;
  border-radius: 100%;
  margin-right: 0.5em;
}

.status-card__working-ind {
  background-color: #1ee726;
}

.status-card__faulty-ind {
  background-color: #db1818;
}

.status-card__txt {
  color: black;
  font-size: 0.8em;
}
