.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Margin */
.mt-1em {
  margin-top: 1em;
}

.mt-2em {
  margin-top: 2em;
}

.ml-1em {
  margin-left: 1em;
}

.ml-2em {
  margin-left: 1em;
}

.mr-1em {
  margin-right: 1em;
}

.mr-2em {
  margin-right: 1em;
}

.mr-05em {
  margin-right: 0.5em;
}

.mb-1em {
  margin-bottom: 1em;
}

.mb-2em {
  margin-bottom: 1em;
}

/* Flex */
.flex-row {
  display: flex;
  flex-direction: row;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

/* Font */
.font-bold {
  font-weight: bold;
}
